<div class="index-container">
  <h1>Welcome to Lunk Gymness</h1>
  <p>Simple Gym Management System</p>
  
  <div class="links-grid">
    <div class="link-card">
      <h2><a href="/equipment">Equipment</a></h2>
      <p>Browse, add, edit, or remove gym equipment from inventory</p>
    </div>
    
    <div class="link-card">
      <h2><a href="/trainers">Trainers</a></h2>
      <p>Manage trainers and their specialties</p>
    </div>
    <div class="link-card">
      <h2><a href="/classes">Classes</a></h2>
      <p>Manage classes</p>
    </div>
    <div class="link-card">
      <h2><a href="/trainers">Members</a></h2>
      <p>Add, update, delete, or browse memberships</p>
    </div>
    <div class="link-card">
      <h2><a href="/classregistrations">Class Registrations</a></h2>
      <p>Add, update, delete, or browse class registrations</p>
    </div>
  </div>
</div>
